# Arquivos de ambiente e configuração
.env       # Contém variáveis de ambiente sensíveis
.env.local # Arquivo local para variáveis de ambiente específicas
versao.txt  # Pode conter informações de versão, dependendo do contexto

# Veja mais sobre ignorar arquivos no GitHub: https://help.github.com/articles/ignoring-files/

# Arquivos de script do Windows
.bat # Scripts executáveis do Windows podem não ser necessários no versionamento

# Dependências de pacotes (geradas automaticamente e não devem ser versionadas)
node_modules/
.pnp/
.pnp.js

# Arquivos de teste e cobertura
coverage/ # Diretório de relatórios de cobertura de testes

# Next.js (arquivos gerados pelo build do framework)
.next/
out/

# Arquivos de produção (gerados automaticamente no processo de build)
build/

# Arquivos diversos do sistema operacional
.DS_Store # Arquivo de cache do macOS
*.pem     # Chaves privadas, **nunca devem ser versionadas!**

# Arquivos de depuração e logs
npm-debug.log*   # Logs de depuração do npm
yarn-debug.log*  # Logs de depuração do Yarn
yarn-error.log*  # Logs de erro do Yarn
.pnpm-debug.log* # Logs de depuração do pnpm

# Arquivos locais de ambiente (evita que variantes específicas sejam versionadas)
.env*.local 

# Diretório do Vercel (caso o projeto esteja hospedado lá)
.vercel

# Arquivos relacionados ao TypeScript
*.tsbuildinfo    # Informações de build do TypeScript
next-env.d.ts    # Configuração do ambiente para Next.js