.loginContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #e8f5e9;
}

/* NOVO: Wrapper para a coluna da imagem para garantir altura total */
.imagePanelWrapper {
  height: 100vh;
  padding: 0;
}

.imagePanel {
  width: 100%;
  height: 100%;
  background-image: url("/imagens/background-painel.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.formPanel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  width: 100%;
  max-width: 500px;

}

.logoContainer {
  text-align: center;
}


.formGroup {
  margin-bottom: 20px;
}

.formGroup label,
.formLabel {
  display: block;
  color: #004809;
  margin-bottom: 7px;
  text-align: left;
}

.input {
  width: 100%;
  padding: 12px 15px;
  border: 0px;
  border-radius: 10px;
  background-color: rgba(76, 175, 80, 0.38);
  font-size: 1rem;
}
.input:focus {
  border-color: #127234;
  background-color: rgba(76, 175, 80, 0.38);
  box-shadow: 0 0 0 2px rgba(18, 114, 52, 0.2);
}
.input::placeholder {
  color: #127234;
  opacity: 0.3;
}

.optionsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 0.8rem;
}

.customCheckboxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #004809;
}

.customCheckboxContainer input[type="checkbox"] {
  cursor: pointer;
  width: 1em;
  height: 1em;
}

.customCheckboxContainer input[type="checkbox"]:checked {
  background-color: #004809;
  border-color: #004809;
}

.customCheckboxContainer input[type="checkbox"]:focus {
  border-color: #004809;
  box-shadow: 0 0 0 0.25rem rgba(0, 72, 9, 0.25);
}

.link {
  color: #004809;
  font-weight: 500;
  text-decoration: underline;
}
.link:hover {
  color: #e6cf35;
}

.button {
  width: 60%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #004809;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  display: block;
  margin: 0 auto;
}
.button:hover {
  background-color: #4caf50;
}

.createAccountLink {
  display: block;
  text-align: center;
  margin-top: 20px;
}
