.backgroundContainer {
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7fbf3;
  background-image: url("/imagens/background-business.svg");
  background-size: cover;
  background-position: center;
}

.formCard {
  max-width: 600px;
  min-height: 650px;
  width: 100%;
  background-color: rgba(235, 245, 230, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  padding: 2rem;
  overflow-y: auto;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .formCard {
    padding: 1.5rem;
  }
}

.backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #004809;
  border: 1px solid rgba(0, 72, 9, 0.2);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.backButton:hover {
  background-color: #004809;
  color: #ffffff;
}

.title {
  color: #004809;
  font-weight: bold;
}

.instructions {
  color: #127234;
  font-size: 1rem;
  max-width: 550px;
  margin: 0 auto 3rem auto;
}

.formGroup {
  margin-bottom: 2rem;
  text-align: left;
  max-width: 456px;
  margin-left: auto;
  margin-right: auto;
}

.formGroup label {
  color: #004809;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.input {
  width: 100%;
  padding: 12px 15px;
  border: 0px;
  border-radius: 10px;
  background-color: rgba(76, 175, 80, 0.38);
  font-size: 1rem;
}
.input:focus {
  border-color: #127234;
  background-color: rgba(76, 175, 80, 0.38);
  box-shadow: 0 0 0 2px rgba(18, 114, 52, 0.2);
}
.input::placeholder {
  color: #127234;
  opacity: 0.3;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #004809;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 299px;
}

.button:focus {
  border-color: #127234;
  background-color: #127234;
  box-shadow: 0 0 0 2px rgba(18, 114, 52, 0.2);
}

.button:hover {
  background-color: #127234;
}

.footerLink {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #004809;
  font-weight: 500;
}

.footerLink a {
  color: #004809;
  font-weight: 500;
  text-decoration: underline;
  font-size: 0.9rem;
  margin-left: 10px;
}

.footerLink a:hover {
  color: #e6cf35;
}

.resendButton {
  background: none;
  border: none;
  color: #004809;
  font-weight: 500;
  text-decoration: underline;
  padding: 0;
  margin-left: 5px;
  cursor: pointer;
}

.resendButton:disabled {
  color: #127234; /* Muda a cor para indicar que foi clicado */
  text-decoration: none;
  cursor: default;
}
