.container {
  min-height: 100vh;
  position: relative;
}

.mainContent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navbar {
  padding-bottom: 50px;
  position: relative;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('/imagens/homenvv.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-left: 10%;
}

.logo2 {
  width: 400px;
  height: 100px;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.logo2:hover {
  transform: scale(1.25);
}

.overlay {
  position: absolute;
  flex: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.heroContent {
  position: relative;
  margin-right: auto;
}

.heroText {
  position: relative;
  max-width: 600px;
  margin-top: 300px;
  margin-right: 300px;
}

.heroText .btn {
  display: flex; 
  align-items: center;
  background-color: #127234;
  color: white;
  padding: 10px 15px; 
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  width: 275px;
  height: 45px;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background: #E8F5E9;
  color: #127234;
  transform: scale(1.1);
}

.heroText .arrow {
  margin-left: 25px; 
}

.logo2 {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 50px;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
  text-align: justify;
}
.socialIcons {
  top: 50%;
  right: 30px;
  transform: translateY(-60%);
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 100;
  margin-right: 50px;
}

.socialIcons a {
  color: #127234;
  font-size: 20px;
  background: #D9D9D9; 
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.socialIcons a:hover {
  background: #127234;
  color: #D9D9D9;
  transform: scale(1.3);
}

@media (max-width: 768px) {

  

  .hero {
    background: url('/imagens/homenvv.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh; 
    height: 100vh;
    width: 100vw; 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    padding: 0 20px;
    overflow: hidden;
    
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 240px; 
  }

  .logo2 {
    max-width: 55%;
    width: 400px;
    height: auto;
    margin-bottom: -10%; 
    margin-left: 30px;
    margin-bottom: 2px;
  }

  .heroText .btn {
    width: auto;
    height: 45px;
    font-size: 14px;
    padding: 8px 12px;
    margin-left: 30px; 
    margin-top: -10px; 
    white-space: nowrap;
  }

  .heroText {
    max-width: 90%;
    text-align: left;
    margin-left: 50px; 
    margin-top: 10%; 
    margin-bottom: 20px;
  }

  .socialIcons {
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 18%;
    transform: translateY(-50%);
    gap: 15px;
    
  }

  .socialIcons a {
    font-size: 16px;
    width: 34px;
    height: 34px;
    padding: 8px;
  }

  

}



@media (max-width: 600px) {

  

  .hero {
    background: url('/imagens/homenvv.png') no-repeat center center;
    background-position: 80% center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    padding: 0 20px;
    overflow: hidden;
  }  

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 39%; 
  }

  .logo2 {
    max-width: 55%;
    width: 400px;
    height: auto;
    margin-bottom: -10%; 
    margin-left: 30px;
    margin-bottom: 2px;
  }

  .heroText .btn {
    width: auto;
    height: 45px;
    font-size: 14px;
    padding: 8px 12px;
    margin-left: 10px; 
    margin-top: 10px; 
    white-space: nowrap;
  }

  .heroText {
    max-width: 90%;
    text-align: left;
    margin-left: 50px; 
    margin-top: 10%; 
    margin-bottom: 20px;
  }

  .socialIcons {
    position: absolute;
    right: 10px;
    top: 18%;
    transform: translateY(-50%);
    gap: 15px;
  }

  .socialIcons a {
    font-size: 16px;
    width: 34px;
    height: 34px;
    padding: 8px;
    
  }

  

}



